@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
    font-family: "Open Sans", sans-serif;
}

html {
    background-color: dimgray;
}

body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 400px;
    border: 1px solid darkgray;
    background-color: gray;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin: 10px 0px;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
    margin: 0px;
}

a {
    color: white;
    height: 20px;
    padding: 5px;
    border-top: 1px solid darkgray;
    width: 100%;
    display: block;
    text-decoration: none;
}

li:hover {
    background-color: darkgray;
}
